
.title{
    display:flex;
    justify-content: center;
}
.calculator{
   height:300px;
   border-radius: 10px;
    display: flex;
    margin-top:0px;
   justify-content: center;
   background-color: rgb(88, 196, 232);
   padding-top:5px;
   box-shadow: 4px 10px 10px;
}

.display{
   border-radius: 5px;
    height:100px;
    font-size: 50px;
    background-color: orange;
    display:flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.functions{
    display:grid;
}
.number-buttons{
    display:grid;
    gap:1px;
    grid-template-columns: repeat(3,1fr);
    width:200px;
    height:300px;
}
.number{
    font-size: 40px;
    border-radius: 10px;
    border:color;
}

.number:hover{
    background-color: rgb(162, 162, 162);
    cursor: pointer;
}
.number:active .operator:active{
    opacity: 0.9;
}
.function-buttons{
    text-align: center;
    display: grid;
    margin-left: 10px;
    height:200px;
}
.operator{
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(252, 185, 59);
    border: solid;
    font-weight:bold;
    
}
#equal{
    background-color: rgb(70, 70, 245);
}
#sqrt, #factorial{
    margin-right:10px;
}